.main-banner {
    background-image: url("/images/background.jpg");
    height: 830px;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
}

@media(max-width: 767px) {
    .main-banner {
        background-image: url("/images/background_mobile.jpg");
    }
}

.main-banner::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.main-banner__container {
    height: 420px;
    width: 930px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    align-content: space-around;
}

@media(max-width: 767px) {
    .main-banner__container {
        width: 100%;
        max-height: 60%;
    }
}

@media (max-width: 1199px) {
    .main-banner__container {
        width: 100%;
    }
}

.main-banner__header {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 60px;
    color: white;
    line-height: 1.5;
    text-align: center;
}

@media(max-width: 767px) {
    .main-banner__header {
        font-size: 44px;
        line-height: 1.25;
    }
}

.main-banner__paragraph {
    color: white;
    font-weight: 300;
    margin-left: 150px;
    margin-right: 150px;
    line-height: 2;
    text-align: center;
    margin-bottom: 60px;
}

@media(max-width: 1199px) {
    .main-banner__paragraph {
        margin-left: 0;
        margin-right: 0;
        margin-top: 10px;
        margin-bottom: 50px;
        padding-right: 15px;
        padding-left: 15px;
        line-height: 1.75;
    }
}

.main-banner__button {
    width: 166px;
    height: 46px;
    background-color: var(--color-primary);
    border: 2px solid var(--color-primary);
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

#button_2 {
    background-color: transparent;
}

@media(max-width: 767px) {
    .main-banner__button {
        width: 140px;
        margin-left: 10px;
        margin-right: 10px;
    }
}