.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services__header {
    width: 930px;
    margin: 60px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 1.75;
}

@media(max-width: 1199px) {
    .services__header {
        flex-wrap: wrap;
        width: 100%;
        padding: 15px;
    }
}

.services__header-first {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--color-primary);
    margin: 0;
}

.services__header-second {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 60px;
    margin: 0;
}

@media(max-width: 768px) {
    .services__header-second {
        font-size: 40px;
        line-height: 1.25;
        margin: 15px 0;
    }
}

.services__second-secondary {
    color: var(--color-secondary);
}

.services__second-primary {
    color: var(--color-primary);
}

.services__header-paragraph {
    color: var(--color-auxiliary);
    margin: 0;
}

.services__tiles {
    width: 1300px;
    display: flex;
    flex-wrap: wrap;
}

@media(max-width: 1199px) {
    .services__tiles {
        width: 100%;
    }
}

.services__tiles-tile {
    text-align: center;
    line-height: 1.75;
    width: 33.3%;
    padding: 10px 50px;
}

@media(max-width: 991px) {
    .services__tiles-tile {
        width: 50%;
    }
}

@media(max-width: 767px) {
    .services__tiles-tile {
        width: 100%;
    }
}

.services__tiles-tile::before {
    content: "";
    position: relative;
    height: 60px;
    width: 60px;
    display: block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.services__tiles-tile--strategy::before {
    background-image: url(../images/icons/strategy.png);
}

.services__tiles-tile--marketing::before {
    background-image: url(../images/icons/marketing.png);
}

.services__tiles-tile--technology::before {
    background-image: url(../images/icons/technology.png);
}

.services__tiles-tile--ecommerce::before {
    background-image: url(../images/icons/ecommerce.png);
}

.services__tiles-tile--branding::before {
    background-image: url(../images/icons/branding.png);
}

.services__tiles-tile--seo::before {
    background-image: url(../images/icons/seo.png);
}

.services__tiles-tile-header {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 30px;
    margin: 15px 0;
}

.services__tiles-tile-paragraph {
    color: var(--color-auxiliary);
}